body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    max-width: 960px;
    margin: auto;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #0077cc;
    text-transform: uppercase;
}

header {
    text-align: center;
    margin-bottom: 1.5em;
}

header p {
    font-size: 1.2em;
    color: #555;
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #0077cc;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 0.75em;
    color: #0077cc;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: #333;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
}

section {
    margin-bottom: 2em;
}

section ul {
    list-style: disc;
    padding-left: 1.2em;
}

section p, section li {
    margin-bottom: 0.75em;
}

i {
    margin-right: 0.5em;
    color: #0077cc;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#mainLeft {
    border-right: 1px solid #ddd;
    padding-right: 1em;
}
